.advantage {
  text-align: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .advantage {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.advantage__list {
    width: auto;

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    } 
}
  
@media screen and (min-width: 768px) {
  .advantage__list {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.advantage__title {
  font-weight: 700;
  line-height: 1.14;
  margin-top: var(--indent);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
}
.advantage__text {
  line-height: 1.71;
  color: var(--secondary-color);
  display: block;
  margin-top: 10px;
  text-align: left;
}
.advantage__icon {
  @include border(1px solid var(--background-icon-button));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--background-icon-button);
}
