.social-list {
  display: flex;
  justify-content: center;
}
.social-list__link {
  @include transition(background-color);
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  @include transition(fill);
  fill: var(--icon-color);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--white-color);
  }
}
