:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --body-color: #212121;
  --white-color: #fff;
  --background-color-footer-header: #2f303a;
  --nav-footer-color: #ffffff99;
  --black-color: #000;
  --indent: 30px;
  --background-icon-button: #f5f4fa;
  --icon-color: #afb1b8;
  --background-color-hero: #c4c4c4;
}
